
<div class="col-md-4">
    <div class="card text-white bg-dark">
      <div class="card-body">
        <h5 class="card-title">CallBacks</h5>
        <h6 class="card-text">In JavaScript, a callback is a function passed into another function as an argument to be executed later.
            <br><br>
            Why do we need Callbacks?
            <br><br>
        For one very important reason — JavaScript is an event driven language. 
        This means that instead of waiting for a response before moving on, JavaScript will keep executing while listening for other events.
        </h6>
        
      </div>
    </div>
  </div>
