<div class="col-md-4">
    <div class="card text-white bg-dark">
      <div class="card-body">
        <h5 class="card-title">Brendan Eich</h5>
        <h6 class="card-text">Eich started work at Netscape Communications Corporation in April 1995. 
            Eich originally joined intending to put Scheme "in the browser", but his Netscape superiors 
            insisted that the language's syntax resemble that of Java. As a result, Eich devised a language 
            that had much of the functionality of Scheme, the object-orientation of Self, and the syntax of Java. 
            He completed the first version in ten days in order to accommodate the Navigator 2.0 Beta release schedule,
            and was called Mocha, but renamed LiveScript in September 1995 and finally named JavaScript in December.
        </h6>
        
      </div>
    </div>
  </div>
