<div class="col-md-4">
    <div class="card text-white bg-dark">
      <div class="card-body">
        <h5 class="card-title">Map Higher Level Function</h5>
        <h6 class="card-text">The map function is one of the many higher-order functions built into the language.
          
            Higher-order functions are functions that take other functions as arguments or return functions as their results.

            Taking an other function as an argument is often referred as a callback function, because it is called back by the higher-order function. This is a concept that Javascript uses a lot.
        </h6>
        
      </div>
    </div>
  </div>
